html {
    font-size: 100%;
}

@media (prefers-color-scheme: light) {
    #PremierPar {
        background-color:brown;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    
    h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: steelblue;
        margin-left: 50px;
    }
    
    body {
        background-color:rgb(238, 238, 238);
    }

    #SecondPar {
        background-color:#d5bfbf;
        padding: 20px;
        border-radius: 10px;
    }

    #Nom {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    #Par {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 70px;
    }

    a {
        color: black
    }
}

@media (prefers-color-scheme: dark) {
    #PremierPar {
        background-color:rgb(50, 50, 70);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    
    h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: steelblue;
        margin-left: 50px;
    }
    
    body {
        background-color:rgb(17, 17, 17);
    }

    #SecondPar {
        background-color:rgb(70, 70, 90);
        padding: 20px;
        border-radius: 10px;
    }

    #Nom {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        color: white;
    }

    #Par {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 70px;
        color: white;
    }

    a {
        color: white;
    }
}

@media screen and (max-width: 1280px) {
    #content {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1281px) {
    #content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
    }
}

#bloc {
    width: 600px;
}
